<!DOCTYPE html>
<html>
        <head>
            <link rel="stylesheet" href="css/styles.css">

            <title>Error: 404 </title>
            <link rel='icon' href='/img/weather.png'>



            
            <div >
                {{>header}}
                <p>Page not found.</p>
                <br>
                <a href="/">Home</a>
            </div>


        </head>

        <body>

        
        </body>

</html>


