<!DOCTYPE html>

<html><head>
		<title>About Me</title>
		<link rel='icon' href='/img/weather.png'>


		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
		<link rel="stylesheet" href="css/assets/css/main.css">
	</head>	
	<br>
	<br>

	<body class="">

		<!-- Wrapper -->
			<div id="wrapper">
				<br>
				<!-- Header -->
					<header id="header">
						<h1>{{>header}}</h1>
					</header>

				<!-- Main -->
					<div id="main">

						<!-- Content -->
							<section id="content" class="main">
								<span class="image main"></span>
								{{!-- <h2>How it works:</h2> --}}
								<h3>About me:</h3>
								<h3>Hey! I'm Tejesh, A 20 year student wrapping up his undergrad degree. I'm a Tech enthusiast and I like to code.</h3>
								<br>
                                <a href = 'https://github.com/Tejesh17/node-weather' target="_blank">Click here to access the Git repository of this website</a>
                                <br>
                                <br>
							</section>

					</div>

				<!-- Footer -->
					<footer id="footer">
						<p class="copyright">
						Created by Tejesh
						<br>
						<a href="/">Home</a>
						</p>
            			{{!-- <p class="copyright"><a href="https://github.com/Tejesh17">GitHub</a></p> --}}
					</footer>

			</div>
			<br><br><br><br><br><br><br><br>

		<!-- Scripts -->
			<script src="css/assets/js/jquery.min.js"></script>
			<script src="css/assets/js/jquery.scrollex.min.js"></script>
			<script src="css/assets/js/jquery.scrolly.min.js"></script>
			<script src="css/assets/js/browser.min.js"></script>
			<script src="css/assets/js/breakpoints.min.js"></script>
			<script src="css/assets/js/util.js"></script>
			<script src="css/assets/js/main.js"></script>

	
</body></html>