
<html
	><head>
		<title>Weather!</title>
		<link rel='icon' href='/img/weather.png'>



		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
		<link rel="stylesheet" href="css/assets/css/main.css">

		<script>

		</script>

	</head>
	<body class="">

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
					<header id="header">
						<h1>{{>header}}</h1>
					</header>

				<!-- Main -->
					<div id="main">

						<!-- Content -->
							<section id="content" class="main">
								<span class="image main"></span>
								<h3>Weather! is a simple and clean website which fetches weather information from anywhere around the world in one click.</h3>

								<h3>Simply enter the location of where you want to find the current weather and hit search.</h3>
								<br>
								<div class="col-6 col-12-xsmall">
								<input type="text" name="demo-name" id="demo-name" value="" placeholder="Location">
								</div>
								<br>
								<ul class="actions fit">

										<li></li>
										<li><a class="button primary fit" id = 'button'>Search</a></li>
										<li></li>
								</ul>
								<br>
										<h3><div id = 'weaMsg'></div></h3>
										<div class="table-wrapper">			
											<table class="alt">

												<thead>
													<tr>
														<th>Local Date and Time</th>
														<th><div id = 'weaTime'></div></th>
													</tr>
												</thead>
												<tbody>
													<tr>
														<th>Temperature</th>
														<th><div id = 'weaTemp'></div></th>
													</tr>
													<tr>
														<th>Rainfall</th>
														<th><div id = 'weaRain'></div></th>
													</tr>
													<tr>
														<th>Humidity</th>
														<th><div id = 'weaHumid'></div></th>
													</tr>
													<tr>
														<th>Description</th>
														<th><div id = 'weaDesc'></div></th>
													</tr>

												<tfoot>
													<tr>
														<td colspan="2"></td>
														<td>100.00</td>
													</tr>
												</tfoot>
											</table>
										</div>



							</section>





					</div>

				<!-- Footer -->
					<footer id="footer">
						
						
						<p class="copyright">
						Created by Tejesh
            			<br>
						<a href="/about">About Me</a>
						</p>
					</footer>



			</div>




		<!-- Scripts -->
			<script src="css/assets/js/jquery.min.js"></script>
			<script src="css/assets/js/jquery.scrollex.min.js"></script>
			<script src="css/assets/js/jquery.scrolly.min.js"></script>
			<script src="css/assets/js/browser.min.js"></script>
			<script src="css/assets/js/breakpoints.min.js"></script>
			<script src="css/assets/js/util.js"></script>
			<script src="css/assets/js/main.js"></script>

		<script src = '/js/app.js'> </script>	
	</body>

</html>